
.container {
  min-width: 280px;
  margin: auto;
  max-width: 700px;
  padding-top: 40px;
};

.paper {
  height: 100%;
};

.loginField {
  margin-left: 18px;
  width: 90% !important
};

.loginToggle {
  margin: 18px;
  width: 90% !important
};

.loginButton {
  margin: 18px
};
