
.List {
  width: 100%;
  border: 1px solid #DDD;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 25px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.placeholder {
  display: inline-block;
  height: 1em;
  background-color: #DDD;
}

.cacheButtonAndCountRow {
  display: flex;
  align-items: center;
}

.button {
  flex: 0 0 auto;
  background-color: #4db6ac;
  color: #fff;
  appearance: none;
  border: none;
  padding: .5em 1em;
  border-radius: .35em;
  font-size: 1em;
}

.cacheCountRow {
  flex: 1 1 auto;
  text-align: right;
  color: #bdbdbd;
  font-size: .75em;
  font-weight: 100;
}



.GridRow {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.GridColumn {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.LeftSideGridContainer {
  flex: 0 0 50px;
}

.BodyGrid {
  width: 100%;
  border: 1px solid #e0e0e0;
}

.evenRow,
.oddRow {
  border-bottom: 1px solid #e0e0e0;
}
.oddRow {
  background-color: #fafafa;
}

.hoveredItem {
  background-color: #f2f2fc;
}

.selectedItem {
  background-color: #fffbdc;
}

.cell,
.headerCell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 .5em;
}
.cell {
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.headerCell {
  font-weight: bold;
  border-right: 1px solid #e0e0e0;
}
.centeredCell {
  align-items: center;
  text-align: center;
}

.letterCell {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}

.noCells {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #bdbdbd;
}
