{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 1 versions", "ie 11"]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "syntax-object-rest-spread"
  ]
}
