{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 chrome version",
          "last 2 firefox version",
          "last 1 safari version"
        ]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "syntax-object-rest-spread"
  ]
}
