tmp
.DS_Store
.idea/
node_modules
localstorage
npm-debug.log
npm-debug.log.*
lerna-debug.log

packages/metadata-1c/node_modules
packages/metadata-abstract-adapter/node_modules
packages/metadata-core/node_modules
packages/metadata-pouchdb/node_modules
packages/metadata-react-ui/node_modules
packages/metadata-redux/node_modules
