.schemeSettingsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.searchBox {
  height: 36px !important;
  background-color: white !important;
  padding: 6px;
}

.schemeVariants {
}