.progress {
  margin: 40px auto auto auto !important;
  display: block !important;
}

.cont {
  padding: 8px;
}

.celllabel {
  display: table-cell;
}

.celldata {
  display: table-cell;
  width: 60%;
}

.dataObject {
}

/* Panel for fiels and tabular section. */
.fields {
  max-width: 700px;
}

.fields,
.tabularSection {
}

.tabularSections {
  height: 500px;
}

.field {
  padding: .4em;
}