@import url(https://fonts.googleapis.com/css?family=Roboto);

.Select {
	position: relative
}

.Select, .Select div, .Select input, .Select span {
	box-sizing: border-box
}

.Select.is-disabled > .Select-control {
	background-color: #f9f9f9
}

.Select.is-disabled > .Select-control:hover {
	box-shadow: none
}

.Select.is-disabled .Select-arrow-zone {
	cursor: default;
	pointer-events: none
}

.Select-control {
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
	color: #333;
	cursor: default;
	display: table;
	border-spacing: 0;
	border-collapse: separate;
	outline: none;
	overflow: hidden;
	position: relative;
	width: 100%
}

.Select-control:hover {
	box-shadow: 0 1px 0 rgba(0, 0, 0, .06)
}

.Select-control .Select-input:focus {
	outline: none
}

.is-searchable.is-open > .Select-control {
	cursor: text
}

.is-open > .Select-control {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background: #fff;
	border-color: #b3b3b3 #ccc #d9d9d9
}

.is-open > .Select-control > .Select-arrow {
	border-color: transparent transparent #999;
	border-width: 0 5px 5px
}

.is-searchable.is-focused:not(.is-open) > .Select-control {
	cursor: text
}

.is-focused:not(.is-open) > .Select-control {
	border-color: #007eff;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 3px rgba(0, 126, 255, .1)
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
	bottom: 0;
	color: #aaa;
	left: 0;
	line-height: 30px;
	padding-left: 8px;
	padding-right: 8px;
	position: absolute;
	right: 0;
	top: 0;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label, .has-value.Select--single > .Select-control .Select-value .Select-value-label {
	color: #333
}

.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label, .has-value.Select--single > .Select-control .Select-value a.Select-value-label {
	cursor: pointer;
	text-decoration: none
}

.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus, .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover, .has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus, .has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover {
	color: #007eff;
	outline: none;
	text-decoration: underline
}

.Select-input {
	height: 30px;
	padding-left: 8px;
	padding-right: 8px;
	vertical-align: middle
}

.Select-input > input {
	width: 100%;
	background: none transparent;
	border: 0 none;
	box-shadow: none;
	cursor: default;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	outline: none;
	line-height: 14px;
	padding: 8px 0 12px;
	-webkit-appearance: none
}

.is-focused .Select-input > input {
	cursor: text
}

.has-value.is-pseudo-focused .Select-input {
	opacity: 0
}

.Select-control:not(.is-searchable) > .Select-input {
	outline: none
}

.Select-loading-zone {
	cursor: pointer;
	display: table-cell;
	text-align: center
}

.Select-loading, .Select-loading-zone {
	position: relative;
	vertical-align: middle;
	width: 16px
}

.Select-loading {
	animation: Select-animation-spin .4s infinite linear;
	height: 16px;
	box-sizing: border-box;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-right-color: #333;
	display: inline-block
}

.Select-clear-zone {
	animation: Select-animation-fadeIn .2s;
	color: #999;
	cursor: pointer;
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 17px
}

.Select-clear-zone:hover {
	color: #d0021b
}

.Select-clear {
	display: inline-block;
	font-size: 18px;
	line-height: 1
}

.Select--multi .Select-clear-zone {
	width: 17px
}

.Select-arrow-zone {
	cursor: pointer;
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 25px;
	padding-right: 5px
}

.Select-arrow {
	border-color: #999 transparent transparent;
	border-style: solid;
	border-width: 5px 5px 2.5px;
	display: inline-block;
	height: 0;
	width: 0
}

.is-open .Select-arrow, .Select-arrow-zone:hover > .Select-arrow {
	border-top-color: #666
}

.Select--multi .Select-multi-value-wrapper {
	display: inline-block
}

.Select .Select-aria-only {
	display: inline-block;
	height: 1px;
	width: 1px;
	margin: -1px;
	clip: rect(0, 0, 0, 0);
	overflow: hidden
}

@keyframes Select-animation-fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.Select-menu-outer {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top-color: #e6e6e6;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .06);
	box-sizing: border-box;
	margin-top: -1px;
	max-height: 200px;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 1;
	-webkit-overflow-scrolling: touch
}

.Select-menu {
	max-height: 198px;
	overflow-y: auto
}

.Select-option {
	box-sizing: border-box;
	background-color: #fff;
	color: #666;
	cursor: pointer;
	display: block;
	padding: 8px 10px
}

.Select-option:last-child {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px
}

.Select-option.is-selected {
	background-color: #f5faff;
	background-color: rgba(0, 126, 255, .04);
	color: #333
}

.Select-option.is-focused {
	background-color: #ebf5ff;
	background-color: rgba(0, 126, 255, .08);
	color: #333
}

.Select-option.is-disabled {
	color: #ccc;
	cursor: default
}

.Select-noresults {
	box-sizing: border-box;
	color: #999;
	cursor: default;
	display: block;
	padding: 8px 10px
}

.Select--multi .Select-input {
	vertical-align: middle;
	margin-left: 10px;
	padding: 0
}

.Select--multi.has-value .Select-input {
	margin-left: 5px
}

.Select--multi .Select-value {
	background-color: #ebf5ff;
	background-color: rgba(0, 126, 255, .08);
	border-radius: 2px;
	border: 1px solid #c2e0ff;
	border: 1px solid rgba(0, 126, 255, .24);
	color: #007eff;
	display: inline-block;
	font-size: .9em;
	line-height: 1.4;
	margin-left: 5px;
	margin-top: 5px;
	vertical-align: top
}

.Select--multi .Select-value-icon, .Select--multi .Select-value-label {
	display: inline-block;
	vertical-align: middle
}

.Select--multi .Select-value-label {
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	cursor: default;
	padding: 2px 5px
}

.Select--multi a.Select-value-label {
	color: #007eff;
	cursor: pointer;
	text-decoration: none
}

.Select--multi a.Select-value-label:hover {
	text-decoration: underline
}

.Select--multi .Select-value-icon {
	cursor: pointer;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	border-right: 1px solid #c2e0ff;
	border-right: 1px solid rgba(0, 126, 255, .24);
	padding: 1px 5px 3px
}

.Select--multi .Select-value-icon:focus, .Select--multi .Select-value-icon:hover {
	background-color: #d8eafd;
	background-color: rgba(0, 113, 230, .08);
	color: #0071e6
}

.Select--multi .Select-value-icon:active {
	background-color: #c2e0ff;
	background-color: rgba(0, 126, 255, .24)
}

.Select--multi.is-disabled .Select-value {
	background-color: #fcfcfc;
	border: 1px solid #e3e3e3;
	color: #333
}

.Select--multi.is-disabled .Select-value-icon {
	cursor: not-allowed;
	border-right: 1px solid #e3e3e3
}

.Select--multi.is-disabled .Select-value-icon:active, .Select--multi.is-disabled .Select-value-icon:focus, .Select--multi.is-disabled .Select-value-icon:hover {
	background-color: #fcfcfc
}

@keyframes Select-animation-spin {
	to {
		transform: rotate(1turn)
	}
}

.react-grid-Container {
	clear: both;
	margin-top: 0;
	padding: 0
}

.react-grid-Toolbar {
	background-color: #fff;
	border-color: #e7eaec;
	border-image: none;
	border-style: solid solid none;
	border-width: 4px 1px 1px;
	color: inherit;
	margin-bottom: 0;
	padding: 14px 15px 7px;
	height: 48px
}

.react-grid-Toolbar .btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	color: inherit;
	background: #fff;
	border: 1px solid #e7eaec
}

.react-grid-Toolbar .btn:hover {
	color: inherit;
	border: 1px solid #d2d2d2
}

.react-grid-Toolbar .grouped-col-btn {
	background-color: #428bca;
	color: #fff
}

.react-grid-Toolbar .grouped-col-btn:hover {
	color: #fff
}

.react-grid-Toolbar .tools {
	display: inline-block;
	float: right;
	margin-top: 0;
	position: relative;
	padding: 0;
	margin-top: -6px
}

.react-grid-Main {
	background-color: #fff;
	color: inherit;
	padding: 0;
	outline: 1px solid #e7eaec;
	clear: both
}

.react-grid-Grid {
	border: 1px solid #ddd
}

.react-grid-Canvas, .react-grid-Cell, .react-grid-Grid {
	background-color: #fff
}

.react-grid-Cell {
	padding-left: 8px;
	padding-right: 8px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #ddd
}

.react-grid-Cell:not(.editing) .react-grid-Cell__value {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	top: 50%;
	transform: translateY(-50%)
}

.react-grid-Canvas.opaque .react-grid-Cell:not(.editing) {
	opacity: .4;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out
}

.react-grid-Cell__value ul {
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block
}

.react-grid-Cell__value .btn-sm {
	padding: 0
}

.react-grid-Cell.copied {
	background: rgba(0, 0, 255, .2) !important;
	-webkit-transition: background .5s
}

.react-grid-Row.row-context-menu .react-grid-Cell, .react-grid-Row:hover .react-grid-Cell {
	background-color: #f2f2f2
}

.react-grid-Row:hover .rdg-row-index {
	display: none
}

.rdg-row-index {
	display: block;
	text-align: center
}

.rdg-row-actions-cell {
	padding: 0
}

.rdg-actions-checkbox {
	display: none;
	text-align: center
}

.rdg-actions-checkbox.selected, .react-grid-Row:hover .rdg-actions-checkbox {
	display: block
}

.react-grid-Row:hover .rdg-drag-row-handle {
	cursor: move;
	cursor: grab;
	cursor: -webkit-grab;
	width: 12px;
	height: 30px;
	margin-left: 3px;
	background-image: url("data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjlweCIgaGVpZ2h0PSIyOXB4IiB2aWV3Qm94PSIwIDAgOSAyOSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMzkgKDMxNjY3KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5kcmFnIGljb248L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZGVmcz48L2RlZnM+CiAgICA8ZyBpZD0iQWN0dWFsaXNhdGlvbi12MiIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkRlc2t0b3AiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNS4wMDAwMDAsIC0yNjIuMDAwMDAwKSIgZmlsbD0iI0Q4RDhEOCI+CiAgICAgICAgICAgIDxnIGlkPSJJbnRlcmFjdGlvbnMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE1LjAwMDAwMCwgMjU4LjAwMDAwMCkiPgogICAgICAgICAgICAgICAgPGcgaWQ9IlJvdy1Db250cm9scyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC4wMDAwMDAsIDIuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICAgICAgPGcgaWQ9ImRyYWctaWNvbiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC4wMDAwMDAsIDIuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwtMzAiIGN4PSIyIiBjeT0iMiIgcj0iMiI+PC9jaXJjbGU+CiAgICAgICAgICAgICAgICAgICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwtMzAiIGN4PSI3IiBjeT0iMiIgcj0iMiI+PC9jaXJjbGU+CiAgICAgICAgICAgICAgICAgICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwtMzAiIGN4PSIyIiBjeT0iNyIgcj0iMiI+PC9jaXJjbGU+CiAgICAgICAgICAgICAgICAgICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwtMzAiIGN4PSI3IiBjeT0iNyIgcj0iMiI+PC9jaXJjbGU+CiAgICAgICAgICAgICAgICAgICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwtMzAiIGN4PSIyIiBjeT0iMTIiIHI9IjIiPjwvY2lyY2xlPgogICAgICAgICAgICAgICAgICAgICAgICA8Y2lyY2xlIGlkPSJPdmFsLTMwIiBjeD0iNyIgY3k9IjEyIiByPSIyIj48L2NpcmNsZT4KICAgICAgICAgICAgICAgICAgICAgICAgPGNpcmNsZSBpZD0iT3ZhbC0zMCIgY3g9IjIiIGN5PSIxNyIgcj0iMiI+PC9jaXJjbGU+CiAgICAgICAgICAgICAgICAgICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwtMzAiIGN4PSI3IiBjeT0iMTciIHI9IjIiPjwvY2lyY2xlPgogICAgICAgICAgICAgICAgICAgICAgICA8Y2lyY2xlIGlkPSJPdmFsLTMwIiBjeD0iMiIgY3k9IjIyIiByPSIyIj48L2NpcmNsZT4KICAgICAgICAgICAgICAgICAgICAgICAgPGNpcmNsZSBpZD0iT3ZhbC0zMCIgY3g9IjciIGN5PSIyMiIgcj0iMiI+PC9jaXJjbGU+CiAgICAgICAgICAgICAgICAgICAgICAgIDxjaXJjbGUgaWQ9Ik92YWwtMzAiIGN4PSIyIiBjeT0iMjciIHI9IjIiPjwvY2lyY2xlPgogICAgICAgICAgICAgICAgICAgICAgICA8Y2lyY2xlIGlkPSJPdmFsLTMwIiBjeD0iNyIgY3k9IjI3IiByPSIyIj48L2NpcmNsZT4KICAgICAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==");
	background-repeat: no-repeat
}

.rdg-dragging {
	cursor: -webkit-grabbing;
	cursor: grabbing
}

.rdg-dragged-row {
	border-bottom: 1px solid #000
}

@keyframes pulse {
	0% {
		background-color: #ff0
	}
	50% {
		background-color: #fff
	}
	to {
		background-color: #ff0
	}
}

.react-grid-Cell.editing {
	padding: 0;
	overflow: visible !important
}

.react-grid-Cell.editing .has-error input {
	border: 2px solid red !important;
	border-radius: 2px !important
}

.react-grid-Cell input.editor-main, select.editor-main {
	display: block;
	width: 100%;
	height: 30px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.react-grid-Cell input.editor-main:focus, select.editor-main:focus {
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.react-grid-Cell input.editor-main::-moz-placeholder, select.editor-main::-moz-placeholder {
	color: #999;
	opacity: 1
}

.react-grid-Cell input.editor-main:-ms-input-placeholder, select.editor-main:-ms-input-placeholder {
	color: #999
}

.react-grid-Cell input.editor-main::-webkit-input-placeholder, select.editor-main::-webkit-input-placeholder {
	color: #999
}

.react-grid-Cell input.editor-main[disabled], .react-grid-Cell input.editor-main[readonly], fieldset[disabled] .react-grid-Cell input.editor-main, fieldset[disabled] select.editor-main, select.editor-main[disabled], select.editor-main[readonly] {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1
}

textarea.react-grid-Cell input.editor-main, textareaselect.editor-main {
	height: auto
}

.radio-custom, .react-grid-checkbox {
	opacity: 0;
	position: absolute
}

.radio-custom, .radio-custom-label, .react-grid-checkbox, .react-grid-checkbox-label {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	cursor: pointer
}

.radio-custom-label, .react-grid-checkbox-label {
	position: relative
}

.radio-custom + .radio-custom-label:before, .react-grid-checkbox + .react-grid-checkbox-label:before {
	content: '';
	background: #fff;
	border: 2px solid #ddd;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	text-align: center
}

.react-grid-checkbox:checked + .react-grid-checkbox-label:before {
	background: #639;
	box-shadow: inset 0 0 0 4px #fff
}

.radio-custom + .radio-custom-label:before {
	border-radius: 50%
}

.radio-custom:checked + .radio-custom-label:before {
	background: #ccc;
	box-shadow: inset 0 0 0 4px #fff
}

.radio-custom:focus + .radio-custom-label, .react-grid-checkbox:focus + .react-grid-checkbox-label {
	outline: 1px solid #ddd
}

.react-grid-HeaderCell input[type=checkbox] {
	z-index: 99999
}

.react-grid-HeaderCell > .react-grid-checkbox-container {
	padding: 0 10px
}

.react-grid-HeaderCell > .react-grid-checkbox-container > .react-grid-checkbox-label {
	margin: 0
}

.react-grid-Header {
	box-shadow: 0 0 4px 0 #ddd;
	background: #f9f9f9
}

.react-grid-Header--resizing {
	cursor: ew-resize
}

.react-grid-HeaderCell, .react-grid-HeaderRow {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.react-grid-HeaderCell {
	background: #f9f9f9;
	padding: 8px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd
}

.react-grid-HeaderCell__value {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	top: 50%;
	transform: translateY(-50%)
}

.react-grid-HeaderCell__resizeHandle:hover {
	cursor: ew-resize;
	background: #ddd
}

.react-grid-HeaderCell--locked:last-of-type {
	box-shadow: none
}

.react-grid-HeaderCell--resizing .react-grid-HeaderCell__resizeHandle {
	background: #ddd
}

.react-grid-HeaderCell__draggable {
	cursor: col-resize
}

.react-grid-ScrollShim {
	z-index: 10002
}

.react-grid-Cell.selected-draggable {
	border: 1px solid #66afe9;
	background: #eee
}

.react-grid-cell .form-control-feedback {
	color: #a94442;
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 1000000;
	display: block;
	width: 34px;
	height: 30px
}

.react-grid-Cell.was-dragged-over {
	border-right: 1px dashed #000;
	border-left: 1px dashed #000
}

.react-grid-Cell.active-drag-cell {
	overflow: visible !important
}

.react-grid-Cell.active-drag-cell .drag-handle {
	position: absolute;
	bottom: -5px;
	right: -4px;
	background: #66afe9;
	width: 8px;
	height: 8px;
	border: 1px solid #fff;
	border-right: 0;
	border-bottom: 0;
	z-index: 8;
	cursor: crosshair;
	cursor: -webkit-grab
}

.react-grid-Cell.active-drag-cell:hover .drag-handle {
	position: absolute;
	bottom: -8px;
	right: -7px;
	background: #fff;
	width: 16px;
	height: 16px;
	border: 1px solid #66afe9;
	z-index: 8;
	cursor: crosshair;
	cursor: -webkit-grab
}

.react-grid-Cell.active-drag-cell:hover .drag-handle .glyphicon-arrow-down {
	display: 'block'
}

.react-grid-Cell.is-dragged-over-down {
	border-right: 1px dashed #000;
	border-left: 1px dashed #000;
	border-bottom: 1px dashed #000
}

.react-grid-Cell.is-dragged-over-up {
	border-right: 1px dashed #000;
	border-left: 1px dashed #000;
	border-top: 1px dashed #000
}

.react-grid-Cell.is-dragged-over-up .drag-handle {
	top: -5px
}

.react-grid-Cell:hover {
	background: #eee
}

.react-grid-Cell.selected {
	border: 2px solid #66afe9;
	background: #eee;
	border-radius: 4px
}

.react-grid-Cell:focus {
	outline: none
}

.react-grid-Row.row-selected, .react-grid-Row .row-selected, .react-grid-Row.row-selected .react-grid-Cell {
	background-color: #dbecfa
}

.react-grid-row-group .row-expand-icon:hover {
	color: #777
}

.react-grid-row-index {
	padding: 0 18px
}

.react-grid-Cell--locked:last-of-type {
	border-right: 1px solid #ddd;
	box-shadow: none
}

.react-grid-image {
	background: #efefef;
	background-size: 100%;
	display: inline-block;
	height: 40px;
	width: 40px
}

.react-autocomplete-Autocomplete__search {
	display: block;
	width: 100%;
	height: 36px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.6;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.react-autocomplete-Autocomplete__search:focus {
	border-color: #a21618;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(162, 22, 24, .6)
}

.react-autocomplete-Autocomplete__search::-moz-placeholder {
	color: #777;
	opacity: 1
}

.react-autocomplete-Autocomplete__search:-ms-input-placeholder {
	color: #777
}

.react-autocomplete-Autocomplete__search::-webkit-input-placeholder {
	color: #777
}

.react-autocomplete-Autocomplete__search[disabled], .react-autocomplete-Autocomplete__search[readonly], fieldset[disabled] .react-autocomplete-Autocomplete__search {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1
}

textarea.react-autocomplete-Autocomplete__search {
	height: auto
}

.react-autocomplete-Autocomplete__results {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-clip: padding-box;
	min-width: 250px;
	width: 100%;
	max-height: 200px;
	overflow: auto
}

.react-autocomplete-Autocomplete__results.pull-right {
	right: 0;
	left: auto
}

.react-autocomplete-Autocomplete__results .divider {
	height: 1px;
	margin: 10px 0;
	overflow: hidden;
	background-color: #e5e5e5
}

.react-autocomplete-Autocomplete__results > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.6;
	color: #333;
	white-space: nowrap
}

.react-autocomplete-Autocomplete__results div.action-button {
	display: block !important;
	padding: 4px
}

.react-autocomplete-Result {
	cursor: pointer
}

.react-autocomplete-Result > a {
	text-decoration: none
}

.react-autocomplete-Result--active {
	color: #262626;
	background-color: #f5f5f5
}

.react-grid-Cell.readonly {
	background-color: #000
}

.react-grid-Viewport {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.slideUp {
	animation-name: slideUp;
	-webkit-animation-name: slideUp;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	visibility: visible !important
}

@keyframes slideUp {
	0% {
		transform: translateY(100%)
	}
	50% {
		transform: translateY(-8%)
	}
	65% {
		transform: translateY(4%)
	}
	80% {
		transform: translateY(-4%)
	}
	95% {
		transform: translateY(2%)
	}
	to {
		transform: translateY(0)
	}
}

.react-context-menu {
	min-width: 160px;
	padding: 4px 0;
	margin: 2px 0 0;
	color: #373a3c;
	text-align: left;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: .25rem;
	outline: none
}

.react-context-menu-link {
	display: inline-block;
	width: 100%;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.5;
	color: #373a3c;
	text-align: inherit;
	white-space: nowrap;
	background: 0 0;
	border: 0
}

.react-context-menu-link.active, .react-context-menu-link:hover {
	color: #fff;
	background-color: #0275d8;
	border-color: #0275d8;
	text-decoration: none
}

.react-context-menu-item.submenu > a {
	padding-right: 27px
}

.react-context-menu-item.submenu > a:after {
	content: "\25B6";
	display: inline-block;
	position: absolute;
	right: 7px
}

.glyphicon-trash {
	background: #fff;
	float: none !important;
	padding-left: 16px !important
}

.LayoutSplitter {
	background: #000;
	opacity: .2;
	z-index: 1;
	background-clip: padding-box
}

.LayoutSplitter, .LayoutSplitter:after, .LayoutSplitter:before {
	box-sizing: border-box
}

.LayoutSplitter:hover {
	transition: all 2s ease
}

.LayoutSplitter.vertical {
	border-top: 5px solid hsla(0, 0%, 100%, 0);
	border-bottom: 5px solid hsla(0, 0%, 100%, 0);
	cursor: row-resize;
	width: 100%
}

.LayoutSplitter.vertical:hover {
	border-top: 5px solid rgba(0, 0, 0, .5);
	border-bottom: 5px solid rgba(0, 0, 0, .5)
}

.LayoutSplitter.horizontal {
	border-left: 5px solid hsla(0, 0%, 100%, 0);
	border-right: 5px solid hsla(0, 0%, 100%, 0);
	cursor: col-resize;
	height: 100%;
	float: left
}

.LayoutSplitter.horizontal:hover {
	border-left: 5px solid rgba(0, 0, 0, .5);
	border-right: 5px solid rgba(0, 0, 0, .5)
}

.ReactVirtualized__Table__headerRow {
	font-weight: 700;
	text-transform: uppercase
}

.ReactVirtualized__Table__headerRow, .ReactVirtualized__Table__row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center
}

.ReactVirtualized__Table__headerTruncatedText {
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.ReactVirtualized__Table__headerColumn, .ReactVirtualized__Table__rowColumn {
	margin-right: 10px;
	min-width: 0
}

.ReactVirtualized__Table__rowColumn {
	text-overflow: ellipsis;
	white-space: nowrap
}

.ReactVirtualized__Table__headerColumn:first-of-type, .ReactVirtualized__Table__rowColumn:first-of-type {
	margin-left: 10px
}

.ReactVirtualized__Table__sortableHeaderColumn {
	cursor: pointer
}

.ReactVirtualized__Table__sortableHeaderIconContainer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center
}

.ReactVirtualized__Table__sortableHeaderIcon {
	-ms-flex: 0 0 24px;
	flex: 0 0 24px;
	height: 1em;
	width: 1em;
	fill: currentColor
}

.VirtualSelectGrid {
	z-index: 1
}

.VirtualizedSelectOption {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 .5rem
}

.VirtualizedSelectFocusedOption {
	background-color: rgba(0, 126, 255, .1)
}

.VirtualizedSelectDisabledOption {
	opacity: .5
}

.NavUserButtons__barButton___1aN2T {
	color: #fff !important;
	vertical-align: middle
}

.Header__activeRoute___50JvR {
	font-weight: 700;
	text-decoration: underline
}

.CoreLayout__mainContainer___3ZhCE {
	height: 100%
}

html {
	box-sizing: border-box
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Roboto, sans-serif
}

*, :after, :before {
	box-sizing: inherit
}

.EventsList__toolbar___3dwjL {
	height: 48px !important
}

.EventsList__List___d7kuH {
	width: 100%;
	border: 1px solid #ddd
}

.EventsList__row___2Hryk {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 25px;
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0
}

.EventsList__placeholder___L0Ytb {
	display: inline-block;
	height: 1em;
	background-color: #ddd
}

.EventsList__cacheButtonAndCountRow___1410S {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center
}

.EventsList__button___IZlR- {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	background-color: #4db6ac;
	color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	padding: .5em 1em;
	border-radius: .35em;
	font-size: 1em
}

.EventsList__cacheCountRow___1yAWa {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	text-align: right;
	color: #bdbdbd;
	font-size: .75em;
	font-weight: 100
}

.EventsList__GridRow___24XyG {
	margin-top: 15px;
	-ms-flex-direction: row;
	flex-direction: row
}

.EventsList__GridColumn___2JS0N, .EventsList__GridRow___24XyG {
	display: -ms-flexbox;
	display: flex
}

.EventsList__GridColumn___2JS0N {
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto
}

.EventsList__LeftSideGridContainer___91A0f {
	-ms-flex: 0 0 50px;
	flex: 0 0 50px
}

.EventsList__BodyGrid___25gIN {
	width: 100%;
	border: 1px solid #e0e0e0
}

.EventsList__evenRow___Mi6S0, .EventsList__oddRow___10DsO {
	border-bottom: 1px solid #e0e0e0
}

.EventsList__oddRow___10DsO {
	background-color: #fafafa
}

.EventsList__hoveredItem___2MU_O {
	background-color: #f2f2fc
}

.EventsList__selectedItem___2MtO3 {
	background-color: #fffbdc
}

.EventsList__cell___2XmWt, .EventsList__headerCell___owZ0n {
	width: 100%;
	height: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0 .5em
}

.EventsList__cell___2XmWt {
	border-bottom: 1px solid #e0e0e0
}

.EventsList__cell___2XmWt, .EventsList__headerCell___owZ0n {
	border-right: 1px solid #e0e0e0
}

.EventsList__headerCell___owZ0n {
	font-weight: 700
}

.EventsList__centeredCell___1q2GC {
	-ms-flex-align: center;
	align-items: center;
	text-align: center
}

.EventsList__letterCell___Ht25f {
	font-size: 1.5em;
	color: #fff;
	text-align: center
}

.EventsList__noCells___3YSLZ {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 1em;
	color: #bdbdbd
}

.HomeView__progress___1uWHu {
	margin: 40px auto auto !important;
	display: block !important
}

.DumbLoader__progress___2GVQE {
	margin: 40px auto auto !important;
	display: block !important
}

.DataField__label___1vSTp {
	width: 45%
}

.DataField__data___3uQdJ, .DataField__label___1vSTp {
	display: inline-block
}

.DataField__data___3uQdJ {
	width: 55%
}

.DataField__field___KsrSQ {
	min-width: 320px;
	margin-right: 8px
}

.DataField__dataselect___2UY0L {
	width: 55%;
	display: inline-block;
	position: relative;
	bottom: -8px
}

.RepMaterialsDemand__toolbar___1vpap {
	height: 48px !important
}

.RepMaterialsDemand__cont___3H8Kc {
	padding: 8px
}

.RepMaterialsDemand__tbButton___34xAk {
	margin: 6px !important
}

.RepMaterialsDemand__list___2hukz {
	width: 600px;
	padding-left: 6px;
	padding-right: 6px
}

.DataObj__progress___1lSGk {
	margin: 40px auto auto !important;
	display: block !important
}

.DataObj__toolbar___2JYrU {
	height: 48px !important
}

.DataObj__cont___3X_As {
	padding: 8px
}

.DataObj__celldata___1-cbg, .DataObj__celllabel___3DNdG {
	display: table-cell
}

.DataObj__celldata___1-cbg {
	width: 60%
}

.DataSelection__toolbar___2T_iM {
	height: 48px !important
}

.DataSelection__progress___26ua4 {
	margin: 40px auto auto !important;
	display: block !important
}

.DataList__toolbar___3znDz {
	height: 48px !important
}

.DataList__List___3c8Jb {
	width: 100%;
	border: 1px solid #ddd
}

.DataList__row___3Rz54 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 25px;
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0
}

.DataList__placeholder___1Lo4- {
	display: inline-block;
	height: 1em;
	background-color: #ddd
}

.DataList__cacheButtonAndCountRow___o6an0 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center
}

.DataList__button___1b3PK {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	background-color: #4db6ac;
	color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	padding: .5em 1em;
	border-radius: .35em;
	font-size: 1em
}

.DataList__cacheCountRow___1_rlg {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	text-align: right;
	color: #bdbdbd;
	font-size: .75em;
	font-weight: 100
}

.DataList__GridRow___1_ktX {
	margin-top: 15px;
	-ms-flex-direction: row;
	flex-direction: row
}

.DataList__GridColumn___2pwUS, .DataList__GridRow___1_ktX {
	display: -ms-flexbox;
	display: flex
}

.DataList__GridColumn___2pwUS {
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto
}

.DataList__LeftSideGridContainer___1W0Tl {
	-ms-flex: 0 0 50px;
	flex: 0 0 50px
}

.DataList__BodyGrid___2Ionm {
	width: 100%;
	border: 1px solid #e0e0e0
}

.DataList__evenRow___s5BQR, .DataList__oddRow___SewoN {
	border-bottom: 1px solid #e0e0e0
}

.DataList__oddRow___SewoN {
	background-color: #fafafa
}

.DataList__hoveredItem___btS8C {
	background-color: #f2f2fc
}

.DataList__selectedItem___229v4 {
	background-color: #fffbdc
}

.DataList__cell___3wv0l, .DataList__headerCell___1T_Lp {
	width: 100%;
	height: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0 .5em
}

.DataList__cell___3wv0l {
	border-bottom: 1px solid #e0e0e0
}

.DataList__cell___3wv0l, .DataList__headerCell___1T_Lp {
	border-right: 1px solid #e0e0e0
}

.DataList__headerCell___1T_Lp {
	font-weight: 700
}

.DataList__centeredCell___21OzD {
	-ms-flex-align: center;
	align-items: center;
	text-align: center
}

.DataList__letterCell___2NJFE {
	font-size: 1.5em;
	color: #fff;
	text-align: center
}

.DataList__noCells___3KZ_G {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 1em;
	color: #bdbdbd
}

.FrmLogin__paper___1ko6z {
	min-width: 280px !important;
	margin: auto !important;
	max-width: 800px !important;
	padding-top: 18px !important
}

.FrmLogin__sub_paper___3uXs4 {
	padding: 18px
}

.FrmLogin__button___fXOPJ {
	margin: 18px 18px 0 0
}

.FrmLogin__toggle___3aDWg {
	margin: 18px;
	width: 90% !important
}

.User__progress___3R0GM {
	margin: 40px auto auto !important;
	display: block !important
}

.User__paper___15XkF {
	min-width: 280px !important;
	margin: auto !important;
	max-width: 800px !important;
	padding-top: 18px !important
}

.User__button___17hg3 {
	margin: 18px 18px 0 0
}

.User__sub_paper___bbsOo {
	padding: 18px
}

.User__cont___1YlTu {
	padding: 8px
}

.FrmAbout__loginPaper___3AlFd {
	min-width: 280px;
	margin: auto;
	max-width: 800px;
	padding: 20px
}

.FrmAbout__loginField___z7Xkp {
	margin-left: 18px;
	width: 90% !important
}

.FrmAbout__loginButton___1T_m5 {
	margin: 18px
}
