
.label {
	width: 45%;
	display: inline-block;
}

.data {
	width: 55%;
	display: inline-block;
}

.field {
	min-width: 320px;
	margin-right: 8px;
}

.dataselect {
	width: 55%;
	display: inline-block;
	position: relative;
	bottom: -8px;
}
