.meta-calculator-input {
  flex: 4;
  margin: .2em;
  position: relative;
}

.meta-calculator-input__input {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #A0A0A0;
  color: #484C48;
  outline: none;
  padding: .2em;
  padding-right: 35px;
  text-align: right;
}

.meta-calculator-input__input--expression {
  text-align: left;
}

.meta-calculator-input__button {

}