/*
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
	color: rgb(48, 57, 66);

	font-family: Segoe UI, Tahoma, sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: Arial, sans-serif;

	font-size: 100%;
	line-height: 21px;
	text-rendering: optimizeLegibility;
}
*/

.disabledbutton {
	pointer-events: none;
	opacity: 0.4;
}

.svgs-area {
  min-height: 88px;
  max-height: 180px;
  overflow: auto;
}

.svgs-minmax {
	top: 0px;
	right: 18px;
	position: absolute;
	width: 18px;
	height: 18px;
	background-image: url("../imgs/dhxlayout_web/dhxlayout_cell_btns.gif");
	background-repeat: no-repeat;
	background-color: #808080;
	cursor: pointer;
	z-index: 99;
}

/* иконы классов 1С */
.icon_1c_accreg {
	background-image: url(../imgs/custom_web/1c-accreg.gif);
}
.icon_1c_areg {
	background-image: url(../imgs/custom_web/1c-areg.gif);
}
.icon_1c_bp {
	background-image: url(../imgs/custom_web/1c-bp.gif);
}
.icon_1c_cacc {
	background-image: url(../imgs/custom_web/1c-cacc.gif);
}
.icon_1c_cat {
	background-image: url(../imgs/custom_web/1c-cat.gif);
}
.icon_1c_cch {
	background-image: url(../imgs/custom_web/1c-cch.gif);
}
.icon_1c_doc {
	background-image: url(../imgs/custom_web/1c-doc.gif);
}
.icon_1c_dp {
	background-image: url(../imgs/custom_web/1c-dp.gif);
}
.icon_1c_ireg {
	background-image: url(../imgs/custom_web/1c-ireg.gif);
}
.icon_1c_rep {
	background-image: url(../imgs/custom_web/1c-rep.gif);
}
.icon_1c_tsk {
	background-image: url(../imgs/custom_web/1c-tsk.gif);
}

/* контейнер для daterangepicker*/
div.odaterangepicker{
	cursor: pointer;
	padding: 6px 0 6px 8px;
	width: 100%;
	font-size: 90%;
}

/* гиперссылка перехода к настройкам на форме авторизации */
.order_dealer_options {
    position: absolute;
    right: 4px;
}


.dhx_pbox {
    border: none;
}

/* гиперссылка с выпадающим списком метасторе? */
.dropdown_list {
	float: left;
}
div.dropdown_list {
	padding-right: 12px;
	position: relative;
}
a.dropdown_list {
	padding-top: 6px;
	text-decoration: none;
	border-bottom: 1px dashed #0094d9;
	float: none;
}

.open>.dropdown_menu {
	display: block;
}
.dropdown_menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 190px;
	margin: 2px 0 0;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
}
.dropdown_menu {
	padding: 0;
	border-top: none;
}
.dropdown_menu>li {
	display: block;
	padding: 3px 12px 3px 8px;
	font-weight: 400;
	color: #000;
	white-space: nowrap;
	cursor: pointer;
}
.dropdown_menu>li:hover {
	background-color: #f5f5f5;
}

/* зачки состояния объекта: папка, элемент, пометка удаления, проведён */
.gridbox_dhx_terrace .cell_ref_folder {padding-left: 26px !important; background: url(../imgs/dhxtree_terrace/folderClosed.gif) no-repeat left center;}
.gridbox_dhx_terrace .cell_ref_folder_deleted {padding-left: 26px !important; background: url(../imgs/dhxtree_terrace/folderDeleted.gif) no-repeat left center;}

.gridbox_dhx_web .cell_ref_folder {padding-left: 26px !important; background: url(../imgs/dhxtree_web/folderClosed.gif) no-repeat left center;}
.gridbox_dhx_web .cell_ref_folder_deleted {padding-left: 26px !important; background: url(../imgs/dhxtree_web/folderDeleted.gif) no-repeat left center;}

.cell_ref_elm {padding-left: 26px !important; background: url(../imgs/dhxtree_web/catelm.gif) no-repeat left center;}
.cell_ref_elm_deleted {padding-left: 26px !important; background: url(../imgs/dhxtree_web/catelmDeleted.gif) no-repeat left center;}
.cell_doc_posted {padding-left: 26px !important; background: url(../imgs/dhxtree_web/doc_posted.png) no-repeat left center;}
.cell_doc_deleted {padding-left: 26px !important; background: url(../imgs/dhxtree_web/doc_deleted.png) no-repeat left center;}
.cell_doc {padding-left: 26px !important; background: url(../imgs/dhxtree_web/doc_saved.png) no-repeat left center;}
.cell_mandatory {border-bottom: 2px red dotted !important;}

/* высота строки грида
div.gridbox_dhx_web.gridbox table.obj.row20px tr td,
div.gridbox_dhx_terrace.gridbox table.obj.row20px tr td{
    height: 23px;
}
*/
div.gridbox_dhx_terrace.gridbox table.obj {
	font-size: 90%;
}

/* фон выделения в гриде */
div.gridbox_dhx_web.gridbox table.obj tr.rowselected td.cellselected {
	background-color: #dddddd;
	color: #000000;
}

/* .dhxtree_dhx_terrace span.selectedTreeRow */
div.gridbox_dhx_terrace.gridbox table.obj tr.rowselected td,
div.gridbox_dhx_terrace.gridbox table.obj.row20px tr.rowselected td {
	background-color: #fffbdc;
}
div.gridbox_dhx_terrace.gridbox table.obj tr.rowselected td.cellselected,
div.gridbox_dhx_terrace.gridbox table.obj.row20px tr.rowselected td.cellselected {
	background-color: #fff3a1;
}

/* отступы в гриде */
div.gridbox_dhx_terrace.gridbox table.obj tr td,
div.gridbox_dhx_terrace.gridbox table.obj.row20px tr td,
div.gridbox_dhx_terrace.gridbox table.obj tr td.editable{
	padding: 1px 2px 1px 2px;
	height: 23px;
	line-height: 23px;
	border-right: 1px solid #eee;
}

/* отступы в шапке грида */
div.gridbox_dhx_web.gridbox table.hdr td,
div.gridbox_dhx_terrace.gridbox table.hdr td{
	padding: 3px 0;
}

/* отступы в тулбаре
.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn, .dhx_toolbar_dhx_terrace div.dhx_toolbar_arw {
	margin-top: 1px;
}

-- шрифт в тулбаре и статусбаре -- удалить из основного файла
.dhxsidebar_base_dhx_terrace div.dhxsidebar_cont div.dhx_cell_sidebar div.dhx_cell_statusbar_def
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_statusbar_def
*/
.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn, .dhx_toolbar_dhx_terrace div.dhx_toolbar_arw {
	background-color: #fefefe;
	padding: 3px;
	margin-top: 1px;
}

/* поле ввода тулбара */
.dhx_toolbar_dhx_terrace {
	font-family: inherit;
	font-size: 90%;
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn .dhxtoolbar_input {
	border: none;
	background: transparent;
	font-size: inherit;
	margin: 0;
}

div.gridbox_dhx_terrace.gridbox table.hdr td div.hdrcell {
	padding-left: 4px;
	line-height: 28px;
	text-transform: none;
}

.tabs_hidden {
	height: 0px !important;
	border: none !important;
}

/* Калькулятор */
.calcTable {
    border: 1px silver solid;
    width: 120px;
    z-index: 200;
}
.calcButton {
    background-color: #fffefa;
    color: black;
    font-family: Tahoma, sans-serif;
    font-size: 10pt;
    font-weight: normal;
}
.calcInput {
    font-size: 10pt;
    font-weight: normal;
    width: 98%;
}
/* стрелочки в поле ввода числа*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.calkSubmit {
    width: 22px;
    display: inline-block;
    border: none;
    font-size: 10pt;
    color: black;
}

/* VAULT */

div.dhx_popup_dhx_terrace div.dhx_popup_area td.dhx_popup_td:last-child {
	padding-right: 4px
}
div.dhx_popup_dhx_terrace div.dhx_popup_area td.dhx_popup_td:first-child {
	padding-left: 4px
}
div.dhx_popup_dhx_terrace div.dhx_popup_area td.dhx_popup_td {
	padding: 0
}

.dhtmlx_modal_box {
	width: 480px;
	border: none;
	border-radius: 4px;
}

/* VAULT */


/* marked */
.marked_area {
	height: 100%;
	width: 100%;
	font-size: 90%;
	overflow: auto;
}
.marked_area h2, .marked_area h3 {
	margin-bottom: 0px;
}
.marked_area ul {
	margin-top: 0px;
}

/* Текстовое поле редактора */
.textarea_editor {
	width: 100%;
	height: 100%;
	border: none;
	margin: 0px 2px;
	font-family: inherit;
	font-size: 90%;
}

/* Текстовое поле внутри грида - высота и положение */
.dhx_textarea {
	height: 50px;
	margin-left: 0;
	margin-top: -23px;
	font-size: 90%;
	font-family: inherit;
}

/* поле с тремя точками */
.ref_div21 {
    display: inline-block;
    height: 21px;
    width: 100%
}
.ref_field21 {
    background: url(../imgs/custom_web/points.png) no-repeat left center;
    position: relative;
    width: 22px;
    height: 21px;
    right: -5px;
    top: -21px;
    float: right;
    cursor: alias;
}
.ref_field21:hover {
    background: url(../imgs/custom_web/points_hover.png) no-repeat left center;
}
.ref_ofrm21 {
  background: url(../imgs/custom_web/ofrm.png) no-repeat left center;
  position: relative;
  width: 22px;
  height: 21px;
  right: -5px;
  top: -21px;
  float: right;
  cursor: alias;
}
.ref_ofrm21:hover {
  background: url(../imgs/custom_web/ofrm_hover.png) no-repeat left center;
}

/* картинка длительной операции*/
.img_long {
    background: url(../imgs/dhxwins_web/dhxwins_progress.gif) no-repeat 20px 20px;
    width: 80px;
    height: 100px;
}

.tb_title {
    font-size: 120%;
    font-family: 'Open Sans', sans-serif;
    margin-right: 20px;
}

/* оформление таблицы безбумажки*/
.pl_top { vertical-align: top; }
.pl_blue{ color: darkblue !important; }
.pl_red{ color: darkred !important; }
.pl_bg_gray{ background-color: lightgray !important; }
.pl_bold{ font-weight: bold; }

/* оформление таблицы terrace*/
div.gridbox_dhx_terrace.gridbox .odd_dhx_terrace {
	background-color: #fbfbfb;
}

/* Панель инструментов OTooolBar*/
.md_otooolbar {
    position: fixed;
    padding: 0;
    margin: 0;
    background: rgba(255,254,250,0.9);
    border: 0px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}
.md_otooolbar_button {
    width: 21px;
    height: 21px;
    cursor: default;
    padding: 4px;
}
.md_otooolbar_grid_button {
	padding: 0;
	float: right;
	text-align: center;
	cursor: pointer;
}
.md_otooolbar_button:hover, .md_otooolbar_button.selected:hover, .md_otooolbar_button.muted {
    background-color: #ccc;
}
.md_otooolbar_button.selected {
	background-color: #969394;
}
.md_otooolbar_sep {
	width: 0;
	height: 20px;
	padding: 0;
	margin: 3px;
	cursor: default;
	border-left: 1px #ccc dashed;
	pointer-events: none;
}
/* Панель инструментов OTooolBar*/

/* dat.GUI */
div.dhxwin_hdr div.dhxwin_icon.without_icon {
    display: none;
}
div.dhxwin_brd.dat_gui {
	position: absolute;
	border: 5px solid #fffefa;
	background: #fffefa;
	z-index: 0;
}
div.dhxwin_brd.dat_gui {
    border-top: none;
}
/* dat.GUI */


