
.progress {
  margin: 40px auto auto auto !important;
  display: block !important;
}

.cont {
  padding: 8px;
}

.celllabel {
  display: table-cell;
}

.celldata {
  display: table-cell;
  width: 60%;
}
