
.paper {
  min-width: 280px !important;
  margin: auto !important;
  max-width: 800px !important;
  padding-top: 18px !important;
}

.sub_paper {
  width: 50%;
  min-width: 280px !important;
  float: left;
  padding: 18px;
}

.padding18 {
  padding: 18px;
}

.button {
  margin: 18px 18px 0 0
}

.social_button {
  margin: 18px 18px 0 0;
  width: 160px;
}

.subheader {
  line-height: inherit !important;
  padding-left: 0 !important;
}
