
.toolbar {
  height: 48px !important;
}

.table100 {
  display: table;
  padding: 16px;
  width: 100%;
}

.table50 {
  display: table;
  padding: 16px;
  width: 50%;
  max-width: 700px;
  min-width: 300px;
}

.row {
  display: table-row;
}

.celllabel {
  display: table-cell;
}

.celldata {
  display: table-cell;
  width: 60%;
}
