/* зачки состояния объекта: папка, элемент, пометка удаления, проведён */
.cell_ref_folder {padding-left: 26px !important; background: url(./folderClosed.gif) no-repeat left center;}
.cell_ref_folder_deleted {padding-left: 26px !important; background: url(./folderDeleted.gif) no-repeat left center;}
.cell_ref_elm {padding-left: 26px !important; background: url(./catelm.gif) no-repeat left center;}
.cell_ref_elm_deleted {padding-left: 26px !important; background: url(./catelmDeleted.gif) no-repeat left center;}
.cell_doc_posted {padding-left: 26px !important; background: url(./doc_posted.png) no-repeat left center;}
.cell_doc_deleted {padding-left: 26px !important; background: url(./doc_deleted.png) no-repeat left center;}
.cell_doc {padding-left: 26px !important; background: url(./doc_saved.png) no-repeat left center;}
